
.button {
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $light;
  padding: 10px;
  gap: 10px;

  svg {
    width: 20px;
    color: $light;
  }
  
  &.primary {
    background-color: $dark;
  }

  &.action {
    background: transparent;
  }
}