$primary: #037ef3;
$secondary: #f85a40;
$light: #fff;
$dark: #222831;

$box-shadow-1: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$box-shadow-2: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$body-font: "Poppins",
sans-serif;